.container {
  margin: 0 auto;
  width: 50%;

}

nav, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
}

nav > a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  nav { flex-direction: row; }
}

.posts-list {
  list-style-type: none;
}

.post-list-item {
  padding-top: 0.5em;
}

.post-list-item > time {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic; 
}

article pre {
  padding: 15px;
  border: 1px solid black;
  border-radius: 3px;
  overflow: auto;
}

.nerdlink {
  font-family: "Symbols Nerd Font";
  transition: all .15s ease-in-out;
  width: 1em;
  height: 1.2em;
  align-items: center;
  justify-content: center;
}

blockquote {
  margin: 0;
  padding-left: 30px;
  border-left: 2px solid currentColor;
}